.input {
  display: flex;
  width: 100%;
}

.field {
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  min-height: 48px;
  border: 1px solid $text3;
  border-radius: 12px;
  background-color: $bcgrnd1;
  padding: 7px 0 7px 24px;
  overflow: hidden;

  &.focus {
    box-shadow: 0px 0px 0px 3px rgba(41, 0, 204, 0.3);
    border-color: $primary1;
  }
  &.active {
    box-shadow: none;
  }
  &.disabled {
    opacity: 0.3;
  }
}

.textArea {
  @include b2;
  width: 100%;
  max-height: 103px; // font-weight * line-height * row count
  overflow-y: scroll;
  border: none;
  outline: none;
  resize: none;
  padding-right: 24px;

  -webkit-padding-end: calc($spcng24 - 6px);
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    height: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
  }

  &::placeholder {
    color: $text3;
    opacity: 0.4;
  }
  &:disabled {
    background-color: $bcgrnd1;
  }
}
